<section class="banner text-center">
    <div class="container about-container banner_box">
        <div class="container middle-container">
            <div class="banner_info">
                <div class="banner_info_btn">
                    <a href="#" class="banner_info_btn_link js-modal-btn" data-modal="partner">{{contents.banner_btn}}</a>
                </div>
                <div class="banner_info_text">
                    <p class="banner_info_text_title">{{contents.banner_title}}</p>
                    <p class="banner_info_text_description">{{contents.banner_text}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
