<section class="countries">
    <div class="countries_decoration"></div>
    <div class="container transparent-container countries_container">
        <span class="countries_title">{{contents.country_title}}</span>
        <div class="container countries-container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="countries_item">
                        <div class="countries_item_image">
                            <img src="/assets/images/countries/country1.png" alt="Россия">
                        </div>
                        <div class="countries_item_info">
                            <span>Россия</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="countries_item">
                        <div class="countries_item_image">
                            <img src="/assets/images/countries/country2.png" alt="Украина">
                        </div>
                        <div class="countries_item_info">
                            <span>Украина</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="countries_item">
                        <div class="countries_item_image">
                            <img src="/assets/images/countries/country3.png" alt="Казахстан">
                        </div>
                        <div class="countries_item_info">
                            <span>Казахстан</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="countries_item">
                        <div class="countries_item_image">
                            <img src="/assets/images/countries/country4.png" alt="Европа">
                        </div>
                        <div class="countries_item_info">
                            <span>Европа</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="countries_item">
                        <div class="countries_item_image">
                            <img src="/assets/images/countries/country5.png" alt="США">
                        </div>
                        <div class="countries_item_info">
                            <span>США</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="countries_item">
                        <div class="countries_item_image">
                            <img src="/assets/images/countries/country6.png" alt="Беларусь">
                        </div>
                        <div class="countries_item_info">
                            <span>Беларусь</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
