<section class="orderinfo">
    <div class="container medium-container">
        <h4 class="main-title orderinfo_title">{{contents.order_title}}</h4>
        <div class="orderinfo_box">
            <div class="orderinfo_box_area">
                <p>{{contents.order_first_text}}</p>
                <p>{{contents.order_second_text}}</p>
            </div>
        </div>
    </div>
</section>
