<section class="partner js-modal">
    <div class="partner_wrapper">
        <div class="partner_inner container small-container">
            <form class="partner_form js-modal-inner" action="/thanks" method="post">
                <div class="row">
                    <div class="col-12">
                        <span class="partner_form_title">Заявка на сотрудничествоо</span>
                    </div>
                    <div class="col-12">
                        <div class="partner_form_row">
                            <input class="partner_form_input" type="text" name="name" placeholder="Ваше имя *" required value="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="partner_form_row">
                            <input class="partner_form_input" type="text" name="company" placeholder="Название компании" value="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="partner_form_row">
                            <input class="partner_form_input" type="text" name="country" placeholder="Страна" value="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="partner_form_row">
                            <input class="partner_form_input" type="email" name="email" placeholder="Email *" required value="">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="partner_form_row">
                            <input class="partner_form_input" type="tel" name="telephone" placeholder="Телефон" value="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="partner_form_submit">
                            <button type="submit" class="partner_form_btn">Отправить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
