<section class="sendinfo" id="delivery">
    <div class="container medium-container">
        <h4 class="main-title sendinfo_title">{{contents.delivery_title}}</h4>
        <div class="sendinfo_box">
            <div class="sendinfo_box_area">
                <p>{{contents.delivery_text}}</p>
            </div>
        </div>
    </div>
</section>
