<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fashio Butik</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="/assets/main.min.css">
    </head>
    <body>
        <div class="main-wrapper">
            {{{body}}}
        </div>
        <script src="/assets/main.min.js" charset="utf-8"></script>
    </body>
</html>
